{% extends "base.html"%}
{% block title %}Contact | my PortFofolio {% endblock %}
{% block content %}
<h1>Contact Me</h1>
<P>If you’d like to reach out, you can contact me here:</P>
<ul>
    <li><strong>Email:</strong>Samarthbg15@gmail.com</li>
    <li><strong>Github:</strong><a herf="https://github.com/Samarth-birje" target="_blank">https://github.com/Samarth-birje</a></li>
    <li><strong>Github:</strong><a herf="www.linkedin.com/in/samarth-birje-97408434a" target="_blank">www.linkedin.com/in/samarth-birje-97408434a</a></li>
</ul>
{% endblock %}