{% extends "base.html" %}
{% block title %}Projects | my PortFolio{% endblock %}

{% block content %}
<h1>Projects</h1>
<p class="mb-4">Spme of my mini porjects buiklt with html,css,js: </p>
<ul class="list-group">
    <li class="list-group-item">
        <strong>Calculator App</strong> - Basic Calculator using html,css,js.
        <br>
        <a href="https://github.com/Samarth-birje" target="_blank">View on Github</a>
    </li>
    <li class="list-group-item">
        <strong>Landing page</strong> – Responsive website layout.
        <br>
        <a href="https://github.com/Samarth-birje" target="_blank">View on Github</a>
    </li>
    <li class="list-group-item">
        <strong>to-do-list</strong> – Simple CRUD to-do app.
        <br>
        <a href="https://github.com/Samarth-birje" target="_blank">View on Github</a>
    </li>
</ul>
{% endblock %}